<div class="mx-auto mt-8 max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="grid gap-8 lg:grid-cols-[minmax(0,2fr)_360px]">
    <div>
      <app-stepper [linearModeSelected]="true" #appStepper>
        <cdk-step
          [label]="'Address'"
          [completed]="checkoutForm().get('addressForm').valid"
        >
          <app-checkout-address
            [checkoutForm]="checkoutForm()"
          ></app-checkout-address>
        </cdk-step>
        <cdk-step
          [label]="'Delivery'"
          [completed]="checkoutForm().get('deliveryForm').valid"
        >
          <app-checkout-delivery
            [checkoutForm]="checkoutForm()"
          ></app-checkout-delivery>
        </cdk-step>
        <cdk-step [label]="'Review'">
          <app-checkout-review [appStepper]="appStepper"></app-checkout-review>
        </cdk-step>
        <cdk-step [label]="'Payment'">
          <app-checkout-payment
            [checkOutForm]="checkoutForm()"
          ></app-checkout-payment>
        </cdk-step>
      </app-stepper>
    </div>

    <div>
      <app-order-totals></app-order-totals>
    </div>
  </div>
</div>
