<app-home-hero (navigate)="scrollToSection($event)"></app-home-hero>
<app-home-industry
  [content]="bikeIndustry"
  [products]="electricBikes"
></app-home-industry>
<app-home-industry
  [content]="machineIndustry"
  [products]="agriculturalMachines"
></app-home-industry>
<app-home-warranty
  [serial]="warrantySerial()"
  [phone]="warrantyPhone()"
  [result]="warrantyResult()"
  [submitted]="warrantySearchSubmitted()"
  [lookupKind]="warrantyLookupKind()"
  [lookupProductId]="warrantyLookupProductId()"
  (serialChange)="warrantySerial.set($event)"
  (phoneChange)="warrantyPhone.set($event)"
  (lookup)="lookupWarranty()"
  (reset)="resetWarranty()"
  (lookupKindChange)="warrantyLookupKind.set($event)"
  (lookupProductIdChange)="warrantyLookupProductId.set($event)"
  (lookupProduct)="lookupProductById()"
  (browseAll)="browseAll($event)"
></app-home-warranty>
<app-home-commitments></app-home-commitments>
<app-home-cta></app-home-cta>
