/* =========================================================
   COMPANY TABLE
   ========================================================= */

:host ::ng-deep .company-status-toggle {
  transform: scale(0.78);
  transform-origin: center;
}

/* Toggle trong form lớn hơn một chút */
:host ::ng-deep .company-form-toggle {
  transform: scale(0.88);
  transform-origin: left center;
}

/* =========================================================
   STATUS COLUMN
   ========================================================= */

:host ::ng-deep .admin-table .company-status-toggle .mdc-switch {
  margin: 0 auto;
}
